* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif, Verdana;
  text-rendering: auto;
  background-color: black;
  color: #fff;
  line-height: 2px;
  overflow-x: hidden;
}

.button {
  border-color: white;
  position: fixed;
  align-content: center;
  top: 15%;
  border-radius: 1px;
  padding: 1px 1px;
  margin: 0px;
  text-align: center;
  color: #ffffff;
  background-color: white;
  size: 5px 5px;
  align-items: center;
}

/* For the title on the homepage.*/

.flix {
  border: 10px;
  border-color: gold;
  color: red;
  font: 700;
  font-style: bold;
  letter-spacing: 8px;
  font-size: 80px;
}

/* Controls h1 element on homepage. */

.Index {
  border-width: thick;
  border-color: azure;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5px;
}

/* Xbox Header on homepage */

.xbox {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: justify;
  text-decoration: underline;
}

h1 {
  color: white;
  text-align: center;
  padding: 1em;
}

h2 {
  color: white;
  text-align: justify;
  padding: 2em;
}

p {
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 2em;
}

li {
  color: white;
  text-align: justify;
  padding: 5px 20px;
  word-spacing: 0.2em;
  list-style-type: none;
  align-items: center;
}

a {
  color: #000000;
  text-align: center;
  padding: 40px 40px;
  align-self: center;
  font-weight: inherit;
  font-size: medium;
}

img {
  border: solid;
  border-color: #ffffff;
}
