* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif, Verdana;
  text-rendering: auto;
  background-color: black;
  color: #fff;
  line-height: 2px;
  overflow-x: hidden;
}

.button {
  border-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 2px;
  padding: 5px 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: grey;
  size: 10px 10px;
  align-items: center;
}

h1 {
  color: white;
  text-align: center;
  padding: 1em;
}

h2 {
  color: white;
  text-align: justify;
  padding: 2em;
}

p {
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 2em;
}

li {
  color: white;
  text-align: justify;
  padding: 5px 20px;
  word-spacing: 0.2em;
  list-style-type: none;
  align-items: center;
}

a {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  padding: 40px 40px;
  align-self: center;
  font-weight: inherit;
  font-size: medium;
}

div.fps {
  color: floralwhite;
  font-weight: 600;
  font-style: italic;
  padding: 2em 4em;
}

img {
}
