* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif, Verdana;
  text-rendering: auto;
  background-color: black;
  color: #fff;
  line-height: 2px;
  overflow-x: hidden;
}

.button {
  border-color: white;
  border-radius: 2px;
  padding: 100px 100px;
  margin: 100px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: grey;
}

h1 {
  color: white;
  text-align: center;
  padding: 1em;
}

h2 {
  color: white;
  text-align: justify;
  padding: 2em;
}

p {
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 2em;
}

li {
  color: white;
  text-align: justify;
  padding: 20px 20px;
  word-spacing: 0.2em;
  list-style-type: none;
}

a {
  color: black;
  text-align: center;
  text-decoration: underline;
  padding: 20px;
  font-weight: bold;
}
