* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-rendering: auto;
  background-color: rgb(41, 41, 41);
  color: #fff;
  line-height: 2px;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  min-height: 1vh;
  padding-top: 10px;
}

/* For the title on the homepage.*/

.gamenow {
  border: 5px solid white;
  font: 700;
  font-style: bold;
  letter-spacing: 8px;
  font-size: 80px;
}

/* Controls h1 element on homepage. */

.Index {
  border-width: thick;
  border-color: azure;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

/*Controls h1 element on news page. */

.news {
  color: #fff;
  text-rendering: auto;
  font-size: 80px;
  border: 5px solid white;
}

/*Controls h1 element on about page. */

.about {
  border: 5px solid white;
  color: #fff;
  font-size: 80px;
}

/* Header for consoles on homepage */

.consoles {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: justify;
  text-decoration: underline;
}

.latest {
  text-decoration: underline;
  text-align: center;
}

.copyright {
  vertical-align: bottom;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  padding: 1em;
}

h2 {
  color: white;
  text-align: justify;
  padding: 2em;
}

p {
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 2em;
}

li {
  color: white;
  text-align: justify;
  padding: 5px 20px;
  word-spacing: 0.2em;
  list-style-type: none;
  align-items: center;
}

a {
  color: #000000;
  text-align: center;
  padding: 40px 40px;
  align-self: center;
  font-weight: inherit;
  font-size: medium;
}

img {
  border: solid;
  border-color: #ffffff;
}
