* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif, Verdana;
  text-rendering: auto;
  background-color: black;
  color: #fff;
  line-height: 2px;
  overflow-x: hidden;
}

.button {
  display: inline-flex;
  height: 30px;
  padding: 1px;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

/* For the title on the homepage.*/

.flix {
  border: 10px;
  color: red;
  font: 700;
  font-style: bold;
  letter-spacing: 8px;
  font-size: 80px;
}

/* Controls h1 element on homepage. */

.Index {
  border-width: thick;
  border-color: azure;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 5px;
}

.news {
  color: #f70000;
  text-rendering: auto;
  font-size: 50px;
  border: 5px #ffff;
  background-color: #fff;
}

/* Header for consoles on homepage */

.consoles {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: justify;
  text-decoration: underline;
}

h1 {
  color: white;
  text-align: center;
  padding: 1em;
}

h2 {
  color: white;
  text-align: justify;
  padding: 2em;
}

p {
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 2em;
}

li {
  color: white;
  text-align: justify;
  padding: 5px 20px;
  word-spacing: 0.2em;
  list-style-type: none;
  align-items: center;
}

a {
  color: #000000;
  text-align: center;
  padding: 40px 40px;
  align-self: center;
  font-weight: inherit;
  font-size: medium;
}

img {
  border: solid;
  border-color: #ffffff;
}
