body {
  background-color: black;
  font-family: sans-serif, Verdana;
  text-rendering: auto;
}

h1 {
  color: white;
  text-align: center;
  padding: 0.3em;
}

h2 {
  color: white;
  text-align: justify;

}

p {
  color: white;
  text-align: center;
  font-size: 16px;

}

li {
  color: white;
  text-align: justify;
  padding: 10px;
  word-spacing: 0.2em;
}

a {
  text-align: center;
  text-decoration: underline;
  padding: 20px;
  font-weight: bold;

}
