/* This is a comment */

h1 {
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  background-color:
  opacity: 1;
  font-size: 3em;
  letter-spacing: 0.15em;
  text-align: center;
  margin: 0.5px;
}

h2 {
  text-align: justify;
  text-decoration: underline;
  color: white;
  font-size: 30px;
}

ul {
  color: white;
  height:250px;
  width: 1000px;
  background-color:
  min-height: 200px;
  max-height: 500px;
  padding: 10px;
}

body {
  font-family: arial, Verdana, sans-serif;
  font-size: 12px;
  background-color: black;
  padding: 15px;
  font-weight: normal;
}

div{
  height:250px;
  width: 1000px;
  background-color:
  min-height: 200px;
  max-height: 500px;
  padding: 10px;
}

div.1{
  height:250px;
  width: 1000px;
  background-color:
  min-height: 200px;
  max-height: 500px;
  padding: 10px;
}

p {
  color: white;
  opacity: 1;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}

.p1{
  color: white;
  opacity: 1;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.8em;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  text-align: center;
}

/* This is a comment */
