body {
  display: flexbox;
  margin: 0;
  padding: 0;
  background-color: rgb(252, 252, 252);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Personal-Page {
  color: black;
  font-size: 26px;
  text-decoration: None;
  font-style: italic;
  text-align: center;
  padding: 0.2em;
  margin: 0.2em;
}

.links {
  display: flexbox;
  padding: 5px 5px 5px 5px;
  margin: auto;
  font-size: 16px;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  letter-spacing: 2px;
  color: #000000;
}

.secondparagraph {
  text-align: center;
  color: black;
}

#work-experience {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-decoration: none;
  font-style: italic;
  text-align: center;
}

.image {
  border-radius: 40px;
  height: 20%;
  width: 20%;
  display: flex;
  margin: auto;
  padding: 1em;
}

.google {
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.hobbies {
  display: flexbox;
  margin: auto;
  text-align: center;
}

.contact {
  display: flexbox;
  padding: 10px;
  margin: none;
  text-align: justify;
}

.hobbies {
  display: flexbox;
  margin: none;
  padding: 10px, 10px, 10px;
  text-align: center;
}

.aboutme {
  display: flexbox;
  margin: none;
  padding: 10px 10px 10px;
  text-align: center;
}

.projects {
  display: flexbox;
  text-align: center;
  text-decoration: underline;
  padding: 0px 0px 0px 10px;
}

.projects2 {
  display: flexbox;
  text-align: center;
  padding: 0px 0px 0px 10px;
}

.projects-list {
  display: flexbox;
  list-style: none;
}

#footer {
  text-align: center;
  font-style: italic;
  font-size: 12px;
}
