body {
  display: flexbox;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.welcome {
  color: black;
  font-size: 26px;
  text-decoration: underline;
  font-style: italic;
  text-align: center;
  padding: 0.2em;
  margin: 0.2em;
}

.firstparagraph {
  color: black;
  text-align: center;
  font-style: italic;
}

.secondparagraph {
  text-align: center;
  color: black;
}

.headerthree {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.paragraphthree {
  font-style: italic;
  text-align: center;
}

.list {
  font-weight: bold;
  text-align: center;
}

.image {
  border-radius: 40px, 40px;
  height: 20%;
  width: 20%;
  display: flex;
  margin: auto;
}

a {
  color: rgb(92, 92, 92);
}
